<h1><b>These are the top albums <%= @end_string %>!</b></h1>
<div class="data-div">
  <%= image_tag("/collages/output_collage#{@data}.jpg") %>
</div>
<br><a href="/records/new" class="button">Make a new one!</a>
