<h1><b>These are the top artists <%= @end_string %>!</b></h1>
<div class="data-div">
  <% @data.each do |a| %>
    <%= image_tag("#{a[:image]}", class: 'custom-image') %>
    <p> <%= a[:name] %>: <%= a[:playcount] %> scrobbles </p>
  <% end %>
</div>
<br><a href="/records/new" class="text-box">Make a new one!</a>
