<h1><b>These are the top songs <%= @end_string %>!</b></h1>
<div class="data-div">
  <% @data.each do |a| %>
    <p> <%= a[:song_name] %> by <%= a[:artist_name] %>: <%= a[:playcount] %> scrobbles </p>
  <% end %>
</div>
<br><a href="/records/new" class="text-box">Make a new one!</a>
